<div class="jumbotron text-center view">
    <h1>Welcome To Admin Dashboard</h1>
    <h5 style="margin-left:1100px;"><a routerLink="" class="log">Logout</a></h5>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-6 jumbotron bgclr">
        <h3>Products</h3>
        <p>Add,Update,Delete Products</p>
        <button class="btn"><a routerLink="/add">Add</a></button>
        <button class="btn"><a routerLink="/update">Update</a></button>
        <button class="btn"><a routerLink="/del">Delete</a></button>
      </div>
    </div>
  </div>